/* COMMON */
body{
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
}
a {
  text-decoration: none;
  color: black;
}

.inner{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

ul{
  list-style:none;
  }

.btn{
  width: 130px;
  padding: 10px;
  border: 3px solid grey;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  /* 자식요소에도 이어간다고 함. ??? */
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  /* border를 기준으로 뭐 한다는 데 뭔소리여 ??? */
  display: block;
  /* 혹시 모르는 크기를 부여하지 않으면 나오지 않는 애들을 생각하고, block하면 된다. */
  transition: .4s;
  /* 얘는 여기에 왜 넣었을까??? */
}
.btn a{
  color: #333;
}
.btn.btn--reverse{
  color: rgb(187, 187, 187);
}
.btn.btn--reverse a{
  color: rgb(187, 187, 187);
}
.btn:hover{
  background-color: grey;
}
.btn:hover a{
  color: #fff;
}
.btn.btn--reverse:hover a{
  color: #000;
}

/* HEADER */
header{
  width: 100%;
  background-color: white;
  border-bottom: 2px solid gray;
  position: fixed;
  top: 0;
  z-index: 9;
}
header .inner{
  height: 90px;
}
header .inner .logo{
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 이러면 뭐가 되는거냐? */
}
header .inner img{
  height: 75px;
  width: 75px;
}
header .menu{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 80px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu .item{
  position: relative;
  margin-right: 60px;
}
header .menu .item a{
  padding: 10px 20px;
  font-weight: 450;
  font-size: 30px;
}
header .menu .item:hover{
  border-bottom: 3px solid #ff9100;
}
header .menu .item:hover a{
  color: #ff9100;
}

/* FOOTER */
footer{
  background-color: #1f1f1f;
  color: rgb(222, 222, 222);
}
footer .inner{
  height: 200px;
  display: flex;
}
footer .inner img{
    width: 75px;
    height: 75px;
    margin: auto 20px;
}
footer .inner .info{
  margin: 20px;
  font-size: 15px;
}
footer .inner span{
  display: block;
}
footer .inner .info .location{
  margin: 10px;
}
footer .inner .info .tel{
  margin: 10px;
}
footer .inner .info .fax{
  margin: 10px;
}
footer .inner .copyright{
  width: 1000px;
  margin: 10px auto 10px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  flex-grow: 1;
  font-size: 15px;
}