/* COMMON */
body{
  height: 3000px;
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
}
a {
  text-decoration: none;
  color: black;
}

.inner{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

ul{
  list-style:none;
  }

.btn{
  width: 130px;
  padding: 10px;
  border: 3px solid grey;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  /* 자식요소에도 이어간다고 함. ??? */
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  /* border를 기준으로 뭐 한다는 데 뭔소리여 ??? */
  display: block;
  /* 혹시 모르는 크기를 부여하지 않으면 나오지 않는 애들을 생각하고, block하면 된다. */
  transition: .4s;
  /* 얘는 여기에 왜 넣었을까??? */
}
.btn a{
  color: #333;
}
.btn.btn--reverse{
  color: rgb(187, 187, 187);
}
.btn.btn--reverse a{
  color: rgb(187, 187, 187);
}
.btn:hover{
  background-color: grey;
}
.btn:hover a{
  color: #fff;
}
.btn.btn--reverse:hover a{
  color: #000;
}

/* HEADER */
header{
  width: 100%;
  background-color: white;
  border-bottom: 2px solid gray;
  position: fixed;
  top: 0;
  z-index: 9;
}
header .inner{
  height: 90px;
}
header .inner .logo{
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 이러면 뭐가 되는거냐? */
}
header .menu{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 80px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu .item{
  position: relative;
  margin-right: 60px;
}
header .menu .item a{
  padding: 10px 20px;
  font-weight: 450;
  font-size: 30px;
}

/* WELCOME */
.welcome{
  margin-top: 90px;
  background-image: url('../images/welcome_bg.JPG');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.welcome .welcome_area{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 145, 145, 0.7);
}
.welcome .welcome_area{
}
.welcome .welcome_area .text_group{
  text-align: center;
  color: white;
}
.welcome .welcome_area .text_group h1{
  font-weight: 450;
  font-size: 70px;
  margin: 0;
}
.welcome .welcome_area .text_group p{
  font-size: 25px;
  font-weight: 450;
  font-family: 'Gaegu', cursive;
}

/* INTRODUCE */
.introduce{
  background-image: url('../images/introduce_bg3.jpg');
  background-position: center;
}
.introduce .inner{
  display: flex;
  height: 500px;
}
.introduce .inner .text_group{
  width: 450px;
  position: absolute;
  left: 40px;
  top: 10px;
  text-align: center;
}
.introduce .inner .text_group h1{
  font-family: 'Gaegu', cursive;
  font-size: 50px;
  font-weight: 700;
}
.introduce .inner .text_group p{
  font-family: 'Gaegu', cursive;
  font-size: 25px;
  font-weight: 450;
}
.introduce .inner .text_group .btn{
  margin: auto;
}
.introduce .inner img{
  width:434px;
  height: 364px;
  position: absolute;
  right: 40px;
  bottom: 10px;
}

/* GUIDE */
.guide{
  background-color: #4f4b45;
  color: #fff;
  margin-top: 0;
}
.guide .inner{
  height: 600px;
}
.guide .inner h2{
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.guide .inner .guide__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.guide .inner .guide__item{
  position: relative;
}
.guide .inner .guide__item .icon{
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #ff8d00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide .inner .guide__item i{
  color:#fff;
  font-size: 50px;
}
.guide .inner .guide__item h3{
  font-family: 'Gaegu', cursive;
  font-size: 40px;
  font-weight: 400;
}
.guide .inner .guide__item p{
  font-size: 20px;
  font-family: 'Stylish', sans-serif;
  line-height: 30px;
}

/* COLLECTION */
.collection{
  background-image: url("../images/Collected_bg7.png");
  background-color: rgb(3, 3, 46);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px 666px;
}
/* 얘를 없애면 배경이미지랑 컬러가 다 사라져버리네..? */
.collection .inner{
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .inner .text_group{
  position: absolute;
  margin: auto;
  text-align: center;
  color: rgb(187, 187, 187);
}
.collection .inner h2{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 40px 0;
}
.collection .inner h3{
  font-family: 'Gaegu', cursive;
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 40px 0;
}
.collection .inner p{
  font-size: 20px;
  font-family: 'Stylish', sans-serif;
  line-height: 30px;
  /* 얘는 왜 마진이 안생기지? */
}
.collection .inner .btn{
  margin: auto;
  width: 200px;
}