/* COMMON */
body{
  height: 3000px;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.inner{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

ul{
  list-style:none;
  }

/* HEADER */
header{
  width: 100%;
  background-color: white;
  border-bottom: 2px solid gray;
  position: fixed;
  top: 0;
  z-index: 9;
}
header .inner{
  height: 90px;
}
header .inner .logo{
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 이러면 뭐가 되는거냐? */
}
header .menu{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 80px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menu .item{
  position: relative;
  margin-right: 60px;
}
header .menu .item a{
  padding: 10px 20px;
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 450;
  font-size: 30px;
}

/* WELCOME */
.welcome{
  margin-top: 90px;
  background-image: url('../images/welcome_bg.JPG');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.welcome .welcome_area{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 145, 145, 0.7);
}
.welcome .welcome_area{
  flex-grow: 1;
}
.welcome .welcome_area .text_group{
  text-align: center;
  color: white;
}
.welcome .welcome_area .text_group h1{
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 450;
  font-size: 70px;
  margin: 0;
}
.welcome .welcome_area .text_group p{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 15px;
  font-weight: 450;
}